.footer-container {
    background-color: black;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
}
