.navbar {
    background-image: url("banner.jpg");
    z-index: 10;
    top: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
    display: flex;
    justify-content: space-between;
}

.navbar__links {
    flex-direction: column;
    align-self: space-between;
    justify-content: flex-end;
}

.navbar__user {
    display: flex;
    width: 260px;
    padding-top: 20px;
    padding-right: 20px;
    justify-content: space-evenly;
}

.navbar__logged-out {
    display: flex;
    width: 260px;
    padding-top: 20px;
    padding-right: 20px;
    justify-content: space-evenly;
}

#profile-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100%;
    background-color: rgb(111, 111, 111);
    border-radius: 8px;
    padding: 10px;
}

.homepageLogo {
    padding-left: 20px;
}

#navbar__profpic {
    width: 50px;
    height: 50px;
}

#navbar__prof {
    display: flex;
    background-color: transparent;
    border: none;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #37b983;
    align-items: center;
}

#navbar__prof:hover {
    color: #4df5af;
}