





































.login--container {
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 450px;
  color: #4D6EF5;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bolder;
   flex-direction: column;
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.login--element--container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 333px;
  padding: 50px;
  margin-top: -80px;
}

.login--element {
  padding: 10px;
  width: 310px;
}

input {
  width: 90px;
  height: 15px;
  border-radius: 5px;
  margin: 10px 0px -70px 0px;
  align-items: center;

}

.login__button--container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
  margin: 10px;
  padding: 10px;
}



h1 {
  color: white;
  font-weight: bold;
  margin: 0;
}
/* p {
  margin: 0;
}
h2 {
  color: white;
  font-size: 24px;
  margin: 0;
}
li {
  color: red;
} */
